<div class="container mx-auto p-6">
  <!-- Booking Modal -->
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Enter client full name"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
  >
    <ng-container *nzModalContent>
      <input nz-input placeholder="Client full name" [(ngModel)]="userName" />
    </ng-container>
  </nz-modal>

  <!-- Booking Table -->
  <h1 class="text-3xl font-bold text-center text-blue-700 mb-6">
    Book an Appointment
  </h1>

  <nz-table #basicTable [nzBordered]="true" nzTemplateMode class="shadow-lg rounded-lg">
    <thead>
      <tr>
        <th class="text-lg">Days</th>
        <th class="text-lg">Available Hours</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let day of schedule">
        <td class="font-semibold underline text-blue-700">{{ day.day }}</td>
        <td class="w-fit flex flex-wrap gap-3">
          <button
            *ngFor="let hour of day.hours"
            [disabled]="isBooked(day.day, hour)"
            (click)="bookSlot(day.day, hour)"
            nz-button
            nz-tooltip
            [nzTooltipTitle]="
              isBooked(day.day, hour)
                ? 'Booked by ' + getBookedUser(day.day, hour)
                : ''
            "
            nzType="primary"
            class="w-fit px-4 py-2 rounded mx-2"
            [ngClass]="
              isBooked(day.day, hour)
                ? 'bg-gray-400 cursor-not-allowed'
                : 'bg-blue-600 hover:bg-blue-700'
            "
          >
            {{ hour }}
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
